.cn-button{
  color: #FFFFFF;
  background-color: #915ab5;
  border: none;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  &:hover{
    background-color: #593073;
  }
  &:focus{
    border: none;
  }
  &.type-2{
    background-color: #FFFFFF;
    border: 1px solid #915ab5;
    color: #915ab5;
    &:hover{
      background-color: #e3d0ee;
    }
  }
}
