@import "hoc_heading";
@import "button";

.modal-custom-dialog {
  .modal-content {
    background-color: transparent;
    border: none;
  }
}

.data-component{
  background-color: $data-component-color;
  border: 1px solid #000000,
}
